 /************ Custom Font ************/
html[data-theme='dark'] {
    --primary-color: #ffffff;
    --secondary-color: #121212;

    --navbar-primary-color: #fff;
    --navbar-secondary-color: #121212;
    --navbar-link-opacity: 0.65;
    --navbar-hover-opacity: 1;
    --social-icon-background: rgba(217, 217, 217, 0.1);
    --social-icon-border: 1px solid rgba(255, 255, 255, 0.5);
    --button-color: #fff;
    --button-border: 1px solid #fff;
    --button-hover-color: #121212;
    --toggler-icon-color: #fff;
    --toggler-icon-span-color: #fff;
    --navbar-icon-color: #fff;
    --header-button-color: #fff;

    --banner-bg-color: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    --banner-tagline-border-color: rgba(255, 255, 255, 0.5);
    --banner-p-color: #B8B8B8;
    --banner-button-color: #fff;

    --skill-bg-color: #151515;
    --skill-title-color: #b8b8b8
    --skill-text-color: #B8B8B8;

    --project-bg-color: black;
    --project-text-color: #B8B8B8;
    --project-gradient-color: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    --project-border-color: rgba(255, 255, 255, 0.5);
    --project-title-color: #fff;
    --project-tab-color: #fff;
    --project-link-color: #fff;
    --project-card-bcc: #121212;
    --projects--cats-border: #fff;
    --projects--cats-bcc: #121212;
    --projects-pagination-bcc: #121212;

    --project-button-navlink-color: #fff;
    --project-button-gitlink-color: #fff;
    --project-button-gitlink-bg-color: transparent;
    --project-button-gitlink-border-color: #fff;
    --project-gallery-bg-color: #fff;
    --project-gallery-box-shadow-color: rgba(212, 212, 212, 0.2);
    --project-navlink-color: #fff;
    --project-like-color: #fff;

    --contact-gradient-start: #AA367C;
    --contact-gradient-end: #4A2FBD;
    --contact-input-bg-color: rgba(255, 255, 255, 0.1);
    --contact-input-border-color: rgba(255, 255, 255, 0.5);
    --contact-input-color: #fff;
    --contact-input-placeholder-color: #fff;
    --contact-input-focus-bg-color: rgba(255, 255, 255, 1);
    --contact-input-focus-color: #121212;
    --contact-input-placeholder-focus-color: #121212;
    --contact-button-color: #000;
    --contact-button-bg-color: #fff;
    --contact-button-hover-color: #fff;
    --contact-button-before-bg-color: #121212;

    --footer-bcc-color: #121212;
    --footer-color: #fff;
    --footer-text: #b8b8b8;
    --footer-btn-color: #fff;
    --footer-placeholder-color: #121212;

    --error: tomato;

    --calculator-title-color: #fff;
    --calculator-label-color: #fff;
    --calculator-number-color: #fff;
    --calculator-border-color: #fff;
    --calculator-bcc: #121212;

    --add-bcc: #121212;
    --add-input-bcc: #1f1f1f;
    --add-input-color: #ffffff;
    --sign--h2-color: #fff;
    --sign-label-color: #fff;
    --sign-p-color: #fff;
}

html[data-theme='light'] {
    --primary-color: #ffffff;
    --secondary-color: #ffffff;

    --navbar-primary-color: #5C62EC;
    --navbar-secondary-color: #fff;
    --navbar-link-opacity: 0.65;
    --navbar-hover-opacity: 1;
    --social-icon-background: #5C62EC;
    --social-icon-border: 1px solid #fff;
    --button-color: #5C62EC;
    --button-border: 1px solid #5C62EC;
    --button-hover-color: #121212;
    --toggler-icon-color: #fff;
    --toggler-icon-span-color: #5C62EC;
    --navbar-icon-color: #fff;
    --header-button-color: #5C62EC;

    --banner-bg-color: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    --banner-tagline-border-color: rgba(255, 255, 255, 0.5);
    --banner-p-color: #B8B8B8;
    --banner-button-color: #fff;

    --skill-bg-color: #5C62EC;
    --skill-title-color: #121212
    --skill-text-color: #121212;

    --project-bg-color: #fff;
    --project-text-color: #121212;
    --project-gradient-color: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    --project-border-color: rgba(255, 255, 255, 0.5);
    --project-title-color: #121212;
    --project-tab-color: #5C62EC;
    --project-link-color: #121212;
    --project-card-bcc: #fff;
    --projects--cats-border: #121212;
    --projects--cats-bcc: #fff;
    --projects-pagination-bcc: #fff;

    --project-button-navlink-color: #121212;
    --project-button-gitlink-color: #5C62EC;
    --project-button-gitlink-bg-color: transparent;
    --project-button-gitlink-border-color: #121212;
    --project-gallery-bg-color: #fff;
    --project-gallery-box-shadow-color: rgba(212, 212, 212, 0.5);
    --project-navlink-color: #121212;
    --project-like-color: #121212;

    --contact-gradient-start: #AA367C;
    --contact-gradient-end: #4A2FBD;
    --contact-input-bg-color: rgba(255, 255, 255, 0.1);
    --contact-input-border-color: rgba(255, 255, 255, 0.5);
    --contact-input-color: #fff;
    --contact-input-placeholder-color: #fff;
    --contact-input-focus-bg-color: rgba(255, 255, 255, 1);
    --contact-input-focus-color: #121212;
    --contact-input-placeholder-focus-color: #121212;
    --contact-button-color: #000;
    --contact-button-bg-color: #fff;
    --contact-button-hover-color: #fff;
    --contact-button-before-bg-color: #121212;

    --footer-bcc-color: #fff;
    --footer-color: #5C62EC;
    --footer-text: #121212;
    --footer-btn-color: #fff;
    --footer-placeholder-color: #fff;

    --error: tomato;

    --calculator-title-color: #121212;
    --calculator-label-color: #121212;
    --calculator-number-color: #121212;
    --calculator-border-color: #5C62EC;
    --calculator-bcc: #5C62EC;

    --add-bcc: #fff;
    --add-input-bcc: #f1f1f1;
    --add-input-color: #121212;
    --sign--h2-color: #121212;
    --sign-label-color: #121212;
    --sign-p-color: #121212;
}

@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ Default Css ************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
    font-family: 'Centra', sans-serif !important;
    transition: background-color 800ms linear;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
    transition: color 1000ms linear;
}

p, a, li, button, ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
    transition: color 500ms linear;
    list-style: none;
}

a:hover {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

button {
    border: 0;
    background-color: transparent;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    transition: color 500ms linear;
}

@media (min-width:1700px) {
    main .container {
        max-width: 100%;
        padding: 0 150px;
    }
}

p.success {
    color: green;
}

/************ Header CSS ************/
nav.navbar img {
    width: 50px;
    height: 50px;
}

nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.32s ease-in-out;
}

nav.navbar.scrolled {
    padding: 0px 0;
    background-color: var(--navbar-secondary-color);
}

nav.navbar a.navbar-brand {
    width: 9%;
}

nav.navbar .navbar-nav .navbar-link {
    font-weight: 400;
    color: var(--navbar-primary-color) !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 16px;
    opacity: var(--navbar-link-opacity);
}

nav.navbar .navbar-nav a.navbar-link:hover,
nav.navbar .navbar-nav a.navbar-link.active {
    opacity: var(--navbar-hover-opacity);
}

span.navbar-text {
    display: flex;
    align-items: center;
}

.social-icon {
    display: inline-block;
    margin-left: 14px;
}

.social-icon a {
    width: 42px;
    height: 42px;
    background: var(--social-icon-background);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: var(--social-icon-border);
}

.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
    transform: scale(1);
}

.social-icon a .icon {
    width: 100%;
    z-index: 1;
    transition: 0.3s ease-in-out;
    color: var(--navbar-icon-color);
}

.social-icon a .icon:hover {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-text button {
    font-weight: 700;
    color: var(--button-color);
    border: var(--button-border);
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}

.navbar-text button span {
    z-index: 1;
}

.navbar-text button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: var(--navbar-primary-color);
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
    color: var(--button-hover-color);
}

.navbar-text button:hover::before {
    width: 100%;
}

.navbar-toggler  {
    color: inherit;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    transition: all 300ms linear;
    top: -2px;
    cursor: pointer;
}

nav.navbar .navbar-toggler-icon:focus {
    border-bottom: 2px solid var(--navbar-primary-color);
}

nav.navbar .navbar-toggler-icon span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--toggler-icon-span-color);
    display: block;
    transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 2px;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
    top: 8px;
}

nav.navbar .navbar-toggler-icon span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--toggler-icon-span-color);
    display: block;
    transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon span:nth-child(1) {
    transform: translateY(-4px);
}

nav.navbar .navbar-toggler-icon span:nth-child(2) {
    transform: translateY(0);
}

nav.navbar .navbar-toggler-icon span:nth-child(3) {
    transform: translateY(4px);
}

nav.navbar .navbar-toggler-icon.open span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

nav.navbar .navbar-toggler-icon.open span:nth-child(2) {
    transform: translateX(100%);
    opacity: 0;
}

nav.navbar .navbar-toggler-icon.open span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

@media (max-width: 576px) {
    .container {
        width: 93%;
    }
    nav.navbar {
        padding: 14px 0;
    }

    nav.navbar a.navbar-brand {
        width: 25%;
    }

    nav.navbar .navbar-nav .navbar-link {
        padding: 0 15px;
        font-size: 18px;
    }

    .navbar-text button {
        padding: 12px 24px;
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    nav.navbar .navbar-nav .navbar-link {
        padding: 0 15px;
        font-size: 18px;
    }
}

.theme-switcher {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.theme-switcher input[type="checkbox"] {
    display: none;
}

.theme-switcher label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5C62EC;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.theme-switcher label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

.theme-switcher input:checked + label {
    background-color: #4d4d4d7e;
}

.theme-switcher input:checked + label:before {
    transform: translateX(16px);
}

.iconMonn {
    color: #5C62EC;
    margin: 0 10px;
}

.iconSun {
    color: #5C62EC;
    margin: 0 10px;
}

.button_exit {
    color: var(--header-button-color);
}

@media (max-width: 900px) {
    .navbar-text {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

@media (max-width: 600px) {
    .navbar-text {
        display: flex;
        flex-direction: row;
    }
}

/************ Banner Css ************/
.banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
    background-image: url('./assets/img/banner/banner-bg.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: var(--banner-bg-color);
    border: 1px solid var(--banner-tagline-border-color);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
}

.banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}

.banner p {
    color: var(--banner-p-color);
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}

@media (max-width: 400px) {
    .banner h1 {
        font-size: 35px;
    }
    .banner p {
        font-size: 16px;
    }
}

@media (max-width: 1400px) {
    .banner h1 {
        font-size: 35px;
    }
    .banner .txt-rotate {
        font-size: 35px;
    }
}

.banner button {
    color: var(--banner-button-color);
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
}

.banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}

.banner button:hover svg {
    margin-left: 25px;
}

.banner img {
    animation: updown 3s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}

.txt-rotate > .wrap {
    border-right: 0.08em solid #666;
}

/************ Skills Css ************/
.skill {
    padding: 0 0 50px 0;
    position: relative;
}

.skill-bx {
    background: var(--skill-bg-color);
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
}

.skill h2 {
    font-size: 45px;
    font-weight: 700;
    color: var(--skill-title-color);
}

.skill p {
    color: var(--skill-text-color);
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}

.skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.react-multi-carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-slider .item img {
    width: 50%;
    margin: 0 auto 15px auto;
}

.background-image-left {
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -4;
}

/************ Projects Css ************/
.project {
    padding: 170px 0 100px 0;
    position: relative;
    background-color: var(--project-bg-color);
}

.project h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    color: var(--project-title-color);
}

.project p {
    color: var(--project-text-color);
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 56%;
}

.project .categories {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 16px;

    margin: 24px 0;
}

.project .categories li {
    background-color: #5C62EC;
    border: 2px solid #5C62EC;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    transition: ease-in-out 0.2s all;
}

.project .categories li:hover {
    border: 2px solid var(--projects--cats-border);
}

.project .categories li.active {
    border: 2px solid var(--projects--cats-border);
}

@media (max-width: 768px) {
    .project {
        padding: 250px 0 0 0;
    }
    .project .categories {
        justify-content: center;
        align-items: center;
    }
    .project .categories li {
        font-size: 14px;
    }
}

.project .nav.nav-pills {
    width: 72%;
    margin: 0 auto;
    border-radius: 50px;
    background-color: rgb(255 255 255 / 10%);
    overflow: hidden;
}

.project .nav.nav-pills .nav-item {
    width: 33.33333%;
}

.project .nav.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    padding: 17px 0;
    color: var(--project-link-color);
    width: 100%;
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
}

.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: var(--project-gradient-color);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}

.project .nav.nav-pills .nav-link.active {
    border: 2px solid var(--project-border-color);
}

.nav-link#projects-tabs-tab-first {
    border: 2px solid var(--project-tab-color);
    border-radius: 55px 0px 0px 55px;
}

.nav-link#projects-tabs-tab-second {
    border-top: 2px solid var(--project-tab-color);
    border-bottom: 2px solid; 
}

.nav-link#projects-tabs-tab-third {
    border: 2px solid var(--project-tab-color);
    border-radius: 0 55px 55px 0;
}

.project-card {
    background-color: var(--project-card-bcc);
    padding: 32px;
    border-radius: 16px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.proj-imgbx {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 24px;
}

.proj-imgbx::before {
    content: "";
    background: var(--project-gradient-color);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
    height: 100%;
}

.proj-txtx {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
}

.proj-imgbx:hover .proj-txtx {
    top: 50%;
    opacity: 1;
}

.proj-txtx h4 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
    color: #fff;
    transition: 0.5s ease-in-out;
}

.proj-txtx h4:hover {
    color: var(--project-text-color);
}

.proj-txtx span {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
    color: #fff;
}

@media (max-width: 1300px) {
    .proj-txtx h4 {
        font-size: 16px;
    }
    .proj-txtx button span {
        font-size: 14px;
    }
}

.background-image-right {
    top: 20%;
    position: absolute;
    bottom: 0;
    width: 35%;
    right: 0;
    z-index: -4;
}

@media (max-width: 767px) {
    .project .nav.nav-pills .nav-link {
        font-size: 14px;
    }
}

.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
    border-radius: 50px; 
}

.project .nav.nav-pills .nav-link.active.rounded-left::before {
    width: 100% !important;
    border-radius: 50px 0 0 50px; 
}

.project .nav.nav-pills .nav-link.active.rounded::before {
    width: 100% !important;
    border-radius: 0; 
}

.project .nav.nav-pills .nav-link.active.rounded-right::before {
    width: 100% !important;
    border-radius: 0 50px 50px 0; 
}

.active>.page-link, .page-link.active {
    background-color: #5C62EC;
    border-color: #5C62EC;
    color: #fff;
}

/************ Single Projects Css ************/
.singleProject {
    padding: 190px 0 30px 0;
    max-width: 1000px;
    margin: 0 auto;
    color: var(--project-title-color);
}

@media (max-width: 768px) {
    .singleProject {
        padding: 280px 0 0 0;
    }
}

.project-details {
    color: var(--project-title-color);
    text-align: center;
}

.project-header h2 {
    margin: 0 auto;
}

.project-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-bottom: 24px;
}

.button-like {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--project-like-color);
    float: right;
    margin-top: -10px;
}

.button-like:hover {
    color: red;
}

.button-like.active {
    color: red;
}  

.singleProject .button-NavLink {
    color: var(--project-button-navlink-color);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 24px;
    letter-spacing: 0.8px;
    text-align: center;
}

.singleProject .button-NavLink svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}

.singleProject .button-NavLink:hover svg {
    margin-left: 25px;
}

.gallery {
    margin: 0 auto;
    margin-bottom: 32px;
    max-width: 1000px;
    background-color: var(--project-gallery-bg-color);
    border-radius: 16px;
    padding: 32px 0;
    -webkit-box-shadow: 0px 5px 10px 2px var(--project-gallery-box-shadow-color);
    -moz-box-shadow: 0px 5px 10px 2px var(--project-gallery-box-shadow-color);
    box-shadow: 0px 5px 10px 2px var(--project-gallery-box-shadow-color);
}

.gallery img {
    max-width: 800px;
    height: 800px;
    object-fit: contain;
}

@media (max-width: 700px) {
    .gallery img {
        height: 400px;
    }
}

.carousel .carousel-status {
    color: #5C62EC;
    text-shadow: none;
    font-size: 14px;
}

.carousel .control-dots .dot {
    box-shadow: none;
    background: #5C62EC;
}

.project-skills {
    font-size: 24px;
    color: #5C62EC;
}

.project-details .button-GitLink {
    font-weight: 700;
    color: var(--project-button-gitlink-color);
    border: 1px solid var(--project-button-gitlink-border-color);
    padding: 24px;
    font-size: 16px;
    position: relative;
    background-color: var(--project-button-gitlink-bg-color);
    transition: 0.3s ease-in-out;
    margin: 32px 0;
}

.project-details .button-GitLink span {
    z-index: 1;
}

.project-details .button-GitLink::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: var(--project-button-gitlink-color);
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.project-details .button-GitLink:hover {
    color: #121212;
}

.project-details .button-GitLink:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

/************ Contact Css ************/
.contact {
    background: linear-gradient(90.21deg, var(--contact-gradient-start) -5.91%, var(--contact-gradient-end) 111.58%);
    padding: 60px 0 100px 0;
}

.contact img {
    width: 92%;
}

.contact h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}

.contact form input,
.contact form textarea {
    width: 100%;
    background: var(--contact-input-bg-color);
    border: 1px solid var(--contact-input-border-color);
    border-radius: 20px;
    color: var(--contact-input-color);
    margin: 0 0 8px 0;
    padding: 18px 26px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
}

.contact form input:focus,
.contact form textarea:focus {
    background: var(--contact-input-focus-bg-color);
    color: var(--contact-input-focus-color);
}

.contact form input::placeholder,
.contact form textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: var(--contact-input-placeholder-color);
}

.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
    color: var(--contact-input-placeholder-focus-color);
    opacity: 0.8;
}

.contact form button {
    font-weight: 700;
    color: var(--contact-button-color);
    background-color: var(--contact-button-bg-color);
    padding: 14px 48px;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 0;
    position: relative;
    transition: 0.3s ease-in-out;
    border-radius: 8px;
}

.contact form button span {
    z-index: 1;
    position: relative;
}

.contact form button:hover {
    color: var(--contact-button-hover-color);
}

.contact form button::before {
    content: "";
    background: var(--contact-button-before-bg-color);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
}

.contact form button:hover::before {
    width: 100%;
}

/************ Footer Css ************/
.footer {
    padding: 60px 0;
    background-color: var(--footer-bcc-color);
    color: var(--footer-color);
    text-align: center;
}
.newsletter-bx {
    background: var(--footer-color);
    border-radius: 55px;
    color: var(--footer-bcc-color);
    padding: 50px 80px;
    margin-bottom: 50px;
}
.newsletter-bx h3 {
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.2em;
    margin-bottom: 20px;
}
.new-email-bx {
    background: var(--footer-color);
    padding: 5px;
    border-radius: 20px;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}
.new-email-bx::before {
    content: "";
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    border-radius: 20px;
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
}
.new-email-bx::after {
    content: "";
    background: var(--footer-color);
    border-radius: 20px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.new-email-bx input {
    width: 100%;
    color: var(--footer-bcc-color);
    font-weight: 500;
    background: transparent;
    border: 0;
    padding: 0 15px;
}
.new-email-bx input::placeholder {
    color: var(--footer-placeholder-color);
}
.new-email-bx button {
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    padding: 14px 48px;
    color: var(--footer-btn-color);
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 18px;
    margin-left: 10px;
    border: 0;
    cursor: pointer;
}
@media (max-width: 1300px) {
    .new-email-bx {
        flex-direction: column;
        align-items: flex-start;
    }

    .new-email-bx button {
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
        font-size: 16px;
        padding: 12px 0;
    }
}
.footer img {
    width: 40px;
    margin-bottom: 20px;
}
.footer p {
    font-weight: 400;
    font-size: 14px;
    color: var(--footer-text);
    letter-spacing: 0.5px;
    margin-top: 20px;
}

/************ Error Css ************/
.error-messages {
    color: var(--error);
}
.modal_title {
    color: var(--error);
}
.modal_body {
    color: var(--error);
}

/************ Calculator Css ************/
.calculator {
    margin: 170px 0 100px 0;
}

@media (max-width: 768px) {
    .calculator {
        margin: 280px 0 50px 0;
    }
}

.calculator h2 {
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--calculator-title-color);
}

.calculator form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.calculator .form-calculator {
    font-size: 18px;
}

.calculator label {
    color: var(--calculator-label-color);
}

.slider-container {
    position: relative;
}

.slider-progress {
    position: absolute;
    top: 0;
    left: 0;
}

.form-calculator p {
    color: var(--calculator-number-color);
}

.result {
    margin-top: 20px;
    padding: 16px;
    border: 1px solid var(--calculator-border-color);
    border-radius: 8px;
    background-color: var(--calculator-bcc);
}

.calculator .calculator-warning {
    font-size: 14px; 
}

/************ Form Css ************/
.add {
    margin: 200px 0 100px 0;
    padding: 20px;
    background-color: var(--add-bcc);
    -webkit-box-shadow: 0px 5px 10px 2px rgba(39, 39, 39, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(44, 44, 44, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(51, 51, 51, 0.2);
    color: #fff;
    border-radius: 16px;
}

@media (max-width: 500px) {
    .add {
        margin-top: 280px;
    }
}

.add h2 {
    margin-bottom: 16px;
    color: var(--sign--h2-color);
}

.add form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.add form input,
.add form button {
    margin-bottom: 10px;
    background-color: var(--add-input-bcc);
    color: var(--add-input-color);
    border: none;
    padding: 10px;
}

.add form label {
    color: var(--sign-label-color);
}

.add form button {
    width: 250px;
    align-self: flex-start;
    background-color: #5C62EC;
    color: #fff;
    font-size: 18px;
}

.add form button:hover {
    background-color: #0056b3;
}

.add form input::placeholder {
    color: #757575;
}

.add form input:focus,
.add form button:focus {
    outline: none;
}

.add form p {
    color: var(--sign-p-color);
    font-size: 18px;
}

.button-Delete {
    color: tomato;
}

/************ Favorite Css ************/
.projects-favorites {
    margin: 170px 0 100px 0;
}

@media (max-width: 500px) {
    .projects-favorites {
        margin-top: 280px;
    }
}

.projects-favorit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.projects-favorites h2 {
    text-align: center;
    margin-bottom: 24px;
    color: var(--sign--h2-color);
}